<?php

require_once '../../vendor/autoload.php';

/**
 * Valores para la aplicacion de PersistenciaClase de Twitter
 * 
 */
define('TW_API_KEY', '');
define('TW_API_SECRET', '');
define('TW_TOKEN', '');
define('TW_TOKEN_SECRET', '');




